<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
    <title>跟帖管理</title>
    <script>
        $(function () {
            $("#selectAll").click(function () {
                $("input[name='selectall']").prop("checked", this.checked);
            });
            });


        //单一删除

        function daletComment(id) {
            if (confirm("一定要删除吗？")) {
                $.ajax({
                        url: "/admin/deletComment",
                        type: "post",
                        data: {"id": id},
                        success: function (data) {
                            if (data == "ok") {
                                alert("删除成功");
                                window.location.reload();//刷新页面
                            } else {
                                alert("删除失败");
                            }
                        }
                    }
                );
            }
        }
        //批量删除
        function deletAll() {
            var checkNum=$("input[name=selectall]:checked").length;
            if(checkNum==0){
                alert("请选择你要删除的数据");
                return false
            }
            if (confirm("是否确认删除选择的数据")){
                var checkList=Array();
                $("input[name=selectall]:checked").each(function () {
                    checkList.push($(this).val());
                })
                $.ajax({
                    url:"/admin/deletAll",
                    type:"post",
                    data:{"checkList":checkList},
                    success: function (result) {
                        if (result=="ok"){
                            alert("删除成功");
                            window.location.reload();
                        } else {
                            alert("删除失败");
                        }
                    }
                });
            }
        }
        //获取选择的数据
        function getEditComment(id){
            //alert(id);
            $.ajax({
                url: "/admin/getEditComment",
                type: "post",
                data: {"id": id},
                success:function (result) {
                    if(result!=null){
                        $("#cid").val(result.id);
                        $("#cauthor").val(result.author);
                        $("#cconnent").val(result.content);
                    }else {
                        alert("没有获取到数据");
                    }
                }
            });
        }
        //修改数据

        function Comment(){

            $.ajax({
                url: "/admin/updateComment",
                type: "post",
                data: $("#update").serialize(),
                success: function (result) {
                    if(result=="ok"){
                        alert("修改数据成功");
                        window.location.reload();
                    }else {
                        alert("修改失败");
                    }
                }
            });
        }

    </script>
</head>
<body>
    <div class="card">
        <div class="card-header">跟贴管理</div>
        <div class="card-body">
            <!--内联表单-->
            <form class="form-inline" role="form" method="get" action="/admin/findContent">
                <div class="form-group">
                    <label for="c-id" class="mb-2">编号：</label>
                    <input type="number" class="form-control mb-2" id="c-id" name="id"
                         th:value="${comment!=null?comment.id:''}"  placeholder="查询编号">
                </div>
                <div class="form-group">
                    <label for="ccontent" class="ml-2 mb-2">发表内容：</label>
                    <input type="text" class="form-control mb-2" id="ccontent" name="content"
                           th:value="${comment!=null?comment.content:''}"placeholder="发表内容">
                </div>
                <div class="form-group">
                    <label for="c-author" class="ml-2 mb-2">作者：</label>
                    <input type="text" class="form-control mb-2" id="c-author" name="author"
                           th:value="${comment!=null?comment.author:''}" placeholder="作者">
                </div>
                <button type="submit" class="btn btn-default mb-2 btn-dark ml-2">查询</button>
            </form>
            <table class="table table-bordered table-sm table-striped table-hover">
                <tr class="text-center">
                    <th><input type="checkbox" id="selectAll">全选/全不选</th><th>编号</th><th>内容</th><th>作者</th><th>操作<button class="btn btn-sm btn-warning" onclick="deletAll()">删除</button></th>
                </tr>
                <tr th:each="comment:${pageInfo.list}">
                    <td><input type="checkbox" name="selectall" th:value="${comment.id}"></td>
                    <td th:text="${comment.id}"></td>
                    <td th:text="${comment.content}"></td>
                    <td th:text="${comment.author}"></td>
                    <td class="text-center">
                        <button class="btn-primary" data-toggle="modal" data-target="#myModal" th:onclick="'getEditComment('+${comment.id}+')'">编辑</button>&nbsp;&nbsp;
                        <button class="btn-danger" th:onclick="'daletComment('+${comment.id}+')'">删除</button>
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="text-center">
<!--        <a class="text-center btn btn-dark btn-sm" th:href="'/admin/comment?startPage='+${pageInfo.firstPage}">首页</a>-->
<!--        <a class="btn btn-dark btn-sm" th:href="'/admin/comment?startPage='+${pageInfo.prePage}">上一页</a>-->

<!--        <a class="btn btn-dark btn-sm" th:href="'/admin/comment?startPage='+${pageInfo.nextPage}">下一页</a>-->
<!--        <a class="btn btn-dark btn-sm" th:href="'/admin/comment?startPage='+${pageInfo.lastPage}">尾页</a>-->
        <a class="btn btn-sm btn-secondary" th:href="'/admin/findContent?startPage='+${pageInfo.firstPage}+'&id='+${comment!=null?(comment.id!=null?comment.id:''):' '}+'&content='+${comment!=null?(comment.content!=null?comment.content:' '):' '}+'&author='+${comment!=null?(comment.author!=null?comment.author:' '):''}">首页</a>
        <a class="btn btn-sm btn-secondary" th:href="'/admin/findContent?startPage='+${pageInfo.prePage}+'&id='+${comment!=null?(comment.id!=null?comment.id:''):' '}+'&content='+${comment!=null?(comment.content!=null?comment.content:' '):' '}+'&author='+${comment!=null?(comment.author!=null?comment.author:' '):''}">上一页</a>
        第<span th:text="${pageInfo.pageNum}"></span>页
        <a class="btn btn-sm btn-secondary" th:href="'/admin/findContent?startPage='+${pageInfo.nextPage}+'&id='+${comment!=null?(comment.id!=null?comment.id:''):' '}+'&content='+${comment!=null?(comment.content!=null?comment.content:' '):' '}+'&author='+${comment!=null?(comment.author!=null?comment.author:' '):''}">下一页</a>
        <a class="btn btn-sm btn-secondary" th:href="'/admin/findContent?startPage='+${pageInfo.lastPage}+'&id='+${comment!=null?(comment.id!=null?comment.id:''):' '}+'&content='+${comment!=null?(comment.content!=null?comment.content:' '):' '}+'&author='+${comment!=null?(comment.author!=null?comment.author:' '):''}">尾页</a>
    </div>
    <div class="text-right">
        共有<span th:text="${pageInfo.total}"></span>记录
        &nbsp;&nbsp;共有<span th:text="${pageInfo.pages}"></span>页&nbsp;&nbsp;

    </div>
    <!-- 修改模态框 -->
    <div class="modal fade" id="myModal"  role="dialog" aria-labelledby="myModalLabel"  aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel">
                        模态框（Modal）标题
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <form id="update">
                    <div class="input-group">
                        <input type="text" class="form-control" id="cid" name="id" placeholder="编号">
                    </div>
                    <br>
                    <div class="input-group">
                        <input type="text" class="form-control" id="cauthor" name="author" placeholder="作者">
                    </div>
                    <br>
                    <div class="input-group">
                        <textarea type="text" class="form-control" id="cconnent" name="content" placeholder="内容" style="height: 140px;"></textarea>
                    </div>
                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary" onclick="Comment()">
                        提交更改
                    </button>

                </div>
            </div>
        </div>
    </div>
</body>

</html>