<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>

    <title>Title</title>
    <style>
        .carousel-inner img{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="card-header">
    <span class="input-group-text" style="width: 100px;">显示结果</span>
</div>
<div class="card-body">
    <div>
        <span class="input-group-text" th:text="${user.username}">用户名：</span>
        <span class="input-group-text" th:text="${user.email}">电子邮箱：</span>
        <span class="input-group-text">注册时间：</span>
    </div>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- 轮播图片 -->
        <div class="carousel-inner">

            <div class="carousel-item active">
                <img th:src="@{${picfiles[0]}}" style="width: 100px;height: 100px;">

            </div>
            <div class="carousel-item" style="width: 100px;height: 100px;">
                <img th:src="@{${picfiles[1]}}">
            </div>
            <div class="carousel-item">
                <img th:src="@{${picfiles[2]}}" style="width: 100px;height: 100px;">
            </div>
        </div>

        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</div>
<div class="card-footer"></div>
</body>
</html>