<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/wangEditor.min.js}"></script>
    <title>显示图片</title>
</head>
<body>
    <div>
        <div class="card-header">
            发表文章
        </div>
        <div class="card-body">
            <div th:utext="${article1}" style="width: 500px;height: 480px;">
            </div>
        </div>
        <div class="card-footer"></div>
    </div>

</body>
</html>