<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hello, World</title>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/webjars/jquery/3.2.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.js}"></script>
    <style type="text/css">
        html{height:100%}
        body{height:100%;margin:0px;padding:0px}
        #container{height:100%}
    </style>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&type=webgl&ak=HMZhLj1VTLLjS6YrcsLdEXglMe1ZG6S3">
    </script>

</head>

<body>
<div>
    <div th:each="comment:${city}">
        <p th:value="${comment.cityname}"></p>
        <p  id="weidu" th:value="${comment.weidu}" ></p>
        <p id="jingdu" th:value="${comment.jingdu}" ></p>
    </div>
    <div class="card-header">百度地图</div>
<!--    <form  method="get" action="/admin/selectCityname">-->
<!--        <div id="select"><input type="text" th:value="${city!=null?city.cityname:''}" name="cityname" placeholder="请输入查询城市"><button type="submit" id="city" th:value="${city}">查询</button> </div>-->
<!--        &lt;!&ndash;        <div id="weidu" th:value="${city.weidu}"></div><div id="jingdu" th:value="${city.jingdu}"></div>&ndash;&gt;-->
<!--    </form>-->

        <div id="select"><input type="text" th:value="${city!=null?city.cityname:''}" id="cityname" name="cityname" placeholder="请输入查询城市"><button id="city" type="button" onclick="selectCity()">查询</button> </div>
    <div class="card-body" style="width: 100%;height: 500px;">

        <div id="container"></div>
    </div>
    <div class="card-footer"></div>
</div>
<script type="text/javascript">
    $(function () {
        selectCity();
    });
        function selectCity() {
            //var city=document.getElementById("city").value;
            // alert("aaa");
            var citys=document.getElementById("cityname").value;
            console.log(citys);
            $.ajax({
                url: "/admin/selectCityname",
                type: "get",
                data: {"citys":citys},
                success: function (result) {
                    console.log(result);
                    alert("成功");
                }
            });
            var map = new BMapGL.Map("container");
            var scaleCtrl = new BMapGL.ScaleControl();  // 添加比例尺控件
            map.addControl(scaleCtrl);
            var zoomCtrl = new BMapGL.ZoomControl();  // 添加比例尺控件
            map.addControl(zoomCtrl);
            // 创建地图实例
            var point = new BMapGL.Point(105, 31); // 创建点坐标

            map.enableScrollWheelZoom(true);//开启鼠标缩放事件

            map.centerAndZoom(point, 15);// 初始化地图，设置中心点坐标和地图级别
            map.setHeading(64.5);   //设置地图旋转角度
            map.setTilt(73);       //设置地图的倾斜角度
        }



</script>
</body>
</html>